.formDiv {
  background-color: #fff;
  border-radius: 15px;
  padding: 25px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}

.bottomDiv {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
}
